---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=los%20angeles,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4998143'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/26/2024 00:32:09
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4a30932c4b7929a8e0f1335472ffcf2c
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.24,"tz_id":"America/Los_Angeles","localtime_epoch":1714091418,"localtime":"2024-04-25
        17:30"},"current":{"last_updated_epoch":1714090500,"last_updated":"2024-04-25
        17:15","temp_c":17.2,"temp_f":63.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1017.0,"pressure_in":30.04,"precip_mm":0.0,"precip_in":0.0,"humidity":58,"cloud":0,"feelslike_c":17.2,"feelslike_f":63.0,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":17.0,"gust_kph":27.4}}'
  recorded_at: Fri, 26 Apr 2024 00:32:09 GMT
recorded_with: VCR 6.2.0
