---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=los%20angeles,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999989'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 05/01/2024 20:09:59
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 5f5f1078d7046b8c8c310547cd632c21
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.24,"tz_id":"America/Los_Angeles","localtime_epoch":1714594193,"localtime":"2024-05-01
        13:09"},"current":{"last_updated_epoch":1714593600,"last_updated":"2024-05-01
        13:00","temp_c":21.1,"temp_f":70.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":260,"wind_dir":"W","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"humidity":57,"cloud":50,"feelslike_c":21.1,"feelslike_f":70.0,"vis_km":16.0,"vis_miles":9.0,"uv":6.0,"gust_mph":11.1,"gust_kph":17.8}}'
  recorded_at: Wed, 01 May 2024 20:09:59 GMT
recorded_with: VCR 6.2.0
