---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=denver,co,%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4998143'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/26/2024 00:32:02
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 517fc9b0db7de62447b07cc54fcde89a
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1714091397,"localtime":"2024-04-25
        18:29"},"current":{"last_updated_epoch":1714090500,"last_updated":"2024-04-25
        18:15","temp_c":17.6,"temp_f":63.7,"is_day":1,"condition":{"text":"Moderate
        or heavy rain with thunder","icon":"//cdn.weatherapi.com/weather/64x64/day/389.png","code":1276},"wind_mph":17.4,"wind_kph":28.1,"wind_degree":310,"wind_dir":"NW","pressure_mb":1002.0,"pressure_in":29.6,"precip_mm":0.0,"precip_in":0.0,"humidity":32,"cloud":75,"feelslike_c":17.6,"feelslike_f":63.7,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":21.9,"gust_kph":35.3}}'
  recorded_at: Fri, 26 Apr 2024 00:32:02 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=d,%20e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qp[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=denver,co,%20&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weather[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=telluride,co,%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Lef[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=t,%20e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qp[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=telluride,co,%20&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weat[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from&key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&to
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"110-VTIkF73Nt9xcdYC1FQD+ISGwmVw"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJyb3V0ZSI6eyJyb3V0ZUVycm9yIjp7ImVycm9yQ29kZSI6MjExLCJtZXNzYWdlIjoiIn19LCJpbmZvIjp7InN0YXR1c2NvZGUiOjYxMSwiY29weXJpZ2h0Ijp7InRleHQiOiLCqSAyMDI0IE1hcFF1ZXN0LCBJbmMuIiwiaW1hZ2VVcmwiOiJodHRwOi8vYXBpLm1xY2RuLmNvbS9yZXMvbXFsb2dvLmdpZiIsImltYWdlQWx0VGV4dCI6IsKpIDIwMjQgTWFwUXVlc3QsIEluYy4ifSwibWVzc2FnZXMiOlsiQXQgbGVhc3QgdHdvIGxvY2F0aW9ucyBtdXN0IGJlIHByb3ZpZGVkLiJdfX0=
  recorded_at: Thu, 02 May 2024 02:52:27 GMT
[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=denver,co&key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&to=telluride,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"599b-k6n7xXdYSOx5artMS2qLYu8QOgY"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJyb3V0ZSI6eyJzZXNzaW9uSWQiOiJBTWdBX3ZfX193VUFBUUFSQVFBQWVOcGpFR1JrWUdKZ1lHRFBTQzFLdFVyT0ZlVTBsZ1p5R1JSTXR1X2c0TFU2R1dhNnFjZ3BCcDFtd0FILUF3SE1wRVpEV3dtUTJGcjNoMVZNdkRjbmhScW41XzJLZ3RFdmdYUVBrTVpuRW9pLXRUX2NJSklaeUpCemJWQmdtdFNpSU1EQndjQ2l3QVJUMThJQWRMNEFJNGdKRTJOY3dhTEkweURFSU5DWTB0cmd4T0hLd0RKaENRT0RJeE1McXlxamg1SXdDNGNBZ3lNckI2Z[...]
[...]
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location=37.93816,-107.81118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"355-gLHNCPRWO6vRQF3nUcjCX67OGls"
    body:
      encoding: ASCII-8BIT
      string: !bina[...]
[...]
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location=telluride,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"327-3utmhqHVUhWtQj8sfoE++LNKt8w"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
 [...]
[...]
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d-UWl4xqMA+XoeHsC3eT5D4hq+shg"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
    [...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=37.93812,-107.81103
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=37.93816,-107.81118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weather[...]
[...]
