---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=Cleveland,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4998143'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/26/2024 00:31:45
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ef3b10b6f6e4612f18a7dda07a2f2416
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cleveland","region":"Ohio","country":"United States
        of America","lat":41.5,"lon":-81.7,"tz_id":"America/New_York","localtime_epoch":1714091381,"localtime":"2024-04-25
        20:29"},"current":{"last_updated_epoch":1714090500,"last_updated":"2024-04-25
        20:15","temp_c":7.8,"temp_f":46.0,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":30,"wind_dir":"NNE","pressure_mb":1025.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"humidity":47,"cloud":25,"feelslike_c":5.1,"feelslike_f":41.2,"vis_km":16.0,"vis_miles":9.0,"uv":3.0,"gust_mph":15.4,"gust_kph":24.7}}'
  recorded_at: Fri, 26 Apr 2024 00:31:45 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=C,%20l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qp[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=Cleveland,%20OH&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weath[...]
