---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=Cleveland,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999810'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 12:05:06
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 50bb706058c9668e0b22384f1470a712
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cleveland","region":"Ohio","country":"United States
        of America","lat":41.5,"lon":-81.7,"tz_id":"America/New_York","localtime_epoch":1713960183,"localtime":"2024-04-24
        8:03"},"current":{"last_updated_epoch":1713960000,"last_updated":"2024-04-24
        08:00","temp_c":10.0,"temp_f":50.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.06,"precip_in":0.0,"humidity":83,"cloud":75,"feelslike_c":7.2,"feelslike_f":45.0,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":18.3,"gust_kph":29.4}}'
  recorded_at: Wed, 24 Apr 2024 12:05:06 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=Cleveland,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weat[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=Cleveland,%20OH&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weath[...]
