---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=5&q=cleveland,oh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.051 TT 0 0.055"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 98,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909665M"
                    ],
                    "first_publish_year": 2001,
                    "format": [
                        "Paperback"
                    ],
                    "has_fulltext": false,
                    "isbn": [
                        "0762508388",
                        "9780762508389"
                    ],
                    "key": "/works/OL8503169W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1338943511,
                    "public_scan_b": false,
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "seed": [
                        "/books/OL10909665M",
                        "/works/OL8503169W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Cleveland, Oh",
                    "title_suggest": "Cleveland, Oh",
                    "title_sort": "Cleveland, Oh",
                    "type": "work",
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1795929215919456256,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "author_key": [
                        "OL2704230A"
                    ],
                    "author_name": [
                        "n/a"
                    ],
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 1,
                    "edition_key": [
                        "OL45669648M[...]
