---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=false&key=wapi_key&q=cleveland,oh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999956'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 20:19:29
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - a14f4152491d3bafb9cd36761169f5c2
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cleveland","region":"Ohio","country":"United States
        of America","lat":41.5,"lon":-81.7,"tz_id":"America/New_York","localtime_epoch":1713903447,"localtime":"2024-04-23
        16:17"},"current":{"last_updated_epoch":1713903300,"last_updated":"2024-04-23
        16:15","temp_c":12.2,"temp_f":54.0,"is_day":1,"condition":{"text":"Light rain","icon":"//cdn.weatherapi.com/weather/64x64/day/296.png","code":1183},"wind_mph":15.0,"wind_kph":24.1,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.8,"precip_in":0.03,"humidity":72,"cloud":100,"feelslike_c":10.2,"feelslike_f":50.4,"vis_km":13.0,"vis_miles":8.0,"uv":3.0,"gust_mph":19.2,"gust_kph":30.9}}'
  recorded_at: Tue, 23 Apr 2024 20:19:29 GMT
[...]
