---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=false&key=wapi_key&q=cleveland,oh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999956'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 20:15:13
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3e4aa889465e7e4ec117b2b432cdd487
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cleveland","region":"Ohio","country":"United States
        of America","lat":41.5,"lon":-81.7,"tz_id":"America/New_York","localtime_epoch":1713903320,"localtime":"2024-04-23
        16:15"},"current":{"last_updated_epoch":1713903300,"last_updated":"2024-04-23
        16:15","temp_c":16.7,"temp_f":62.1,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":21.7,"wind_kph":34.9,"wind_degree":220,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.8,"precip_in":0.03,"humidity":38,"cloud":100,"feelslike_c":16.7,"feelslike_f":62.1,"vis_km":16.0,"vis_miles":9.0,"uv":3.0,"gust_mph":26.2,"gust_kph":42.1}}'
  recorded_at: Tue, 23 Apr 2024 20:15:54 GMT
[...]
