---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=false&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999970'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/23/2024 18:02:12
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cc3c0f73b713f4d01783e00cb65cb64d
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cincinnati","region":"Ohio","country":"United
        States of America","lat":39.16,"lon":-84.46,"tz_id":"America/New_York","localtime_epoch":1713895223,"localtime":"2024-04-23
        14:00"},"current":{"last_updated_epoch":1713895200,"last_updated":"2024-04-23
        14:00","temp_c":17.8,"temp_f":64.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":20.6,"wind_kph":33.1,"wind_degree":210,"wind_dir":"SSW","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.0,"precip_in":0.0,"humidity":41,"cloud":0,"feelslike_c":17.8,"feelslike_f":64.0,"vis_km":16.0,"vis_miles":9.0,"uv":5.0,"gust_mph":25.1,"gust_kph":40.3}}'
  recorded_at: Tue, 23 Apr 2024 18:02:12 GMT
recorded_with: VCR 6.2.0
