---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=false&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999922'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 06:41:44
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 98902bd76485678707170bf59ef1455c
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cincinnati","region":"Ohio","country":"United
        States of America","lat":39.16,"lon":-84.46,"tz_id":"America/New_York","localtime_epoch":1713940782,"localtime":"2024-04-24
        2:39"},"current":{"last_updated_epoch":1713940200,"last_updated":"2024-04-24
        02:30","temp_c":11.7,"temp_f":53.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":230,"wind_dir":"SW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":96,"cloud":0,"feelslike_c":10.8,"feelslike_f":51.4,"vis_km":14.0,"vis_miles":8.0,"uv":1.0,"gust_mph":10.8,"gust_kph":17.3}}'
  recorded_at: Wed, 24 Apr 2024 06:42:46 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
  [...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?api_key=wapi_key&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 04/24/2024 08:51:59
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - 40443cef682aa3a04052d8d1184b23b9
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Wed, 24 Apr 2024 08:51:59 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?api_key=wapi_key&days=1&hour=0&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 04/24/2024 08:54:03
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - 9b27ccfb48da7896641750563a1f5906
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Wed, 24 Apr 2024 08:54:03 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?api_key=wapi_key&days=5&location%5B%5D=5&location%5B%5D=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 04/24/2024 08:54:11
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - 1512c1e4c11a06cf586972f2eb19a47c
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Wed, 24 Apr 2024 08:54:11 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:55:08
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - b88f6bdf4906d6e7b14201513134dee5
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:55:08 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:55:08
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - 433d97b219de9830abf3188edf69298f
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:55:08 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&location%5B%5D=5&location%5B%5D=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:55:17
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - f2cc3a09ec6a16d487de0fabbe97c7ae
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:55:17 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weat[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q%5B%5D=5&q%5B%5D=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:56:43
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - f9f14832f291959a094e0d3ff85ea5d2
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:56:43 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=cincinnati,ohio&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weath[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=Cincinnati,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Lef[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=Cincinnati,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Wea[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=Cincinnati,%20OH&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weat[...]
