---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=false&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999922'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 06:41:44
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 98902bd76485678707170bf59ef1455c
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cincinnati","region":"Ohio","country":"United
        States of America","lat":39.16,"lon":-84.46,"tz_id":"America/New_York","localtime_epoch":1713940782,"localtime":"2024-04-24
        2:39"},"current":{"last_updated_epoch":1713940200,"last_updated":"2024-04-24
        02:30","temp_c":11.7,"temp_f":53.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":230,"wind_dir":"SW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":96,"cloud":0,"feelslike_c":10.8,"feelslike_f":51.4,"vis_km":14.0,"vis_miles":8.0,"uv":1.0,"gust_mph":10.8,"gust_kph":17.3}}'
  recorded_at: Wed, 24 Apr 2024 06:42:46 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=5&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
  [...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?api_key=wapi_key&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 04/24/2024 08:51:59
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - 40443cef682aa3a04052d8d1184b23b9
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Wed, 24 Apr 2024 08:51:59 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?api_key=wapi_key&days=1&hour=0&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 04/24/2024 08:54:03
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - 9b27ccfb48da7896641750563a1f5906
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Wed, 24 Apr 2024 08:54:03 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?api_key=wapi_key&days=5&location%5B%5D=5&location%5B%5D=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '401'
      Cdn-Cachedat:
      - 04/24/2024 08:54:11
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '401'
      Cdn-Requestid:
      - 1512c1e4c11a06cf586972f2eb19a47c
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1002,"message":"API key is invalid or not provided."}}'
  recorded_at: Wed, 24 Apr 2024 08:54:11 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:55:08
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - b88f6bdf4906d6e7b14201513134dee5
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:55:08 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&location=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:55:08
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - 433d97b219de9830abf3188edf69298f
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:55:08 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&location%5B%5D=5&location%5B%5D=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:55:17
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - f2cc3a09ec6a16d487de0fabbe97c7ae
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:55:17 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weat[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q%5B%5D=5&q%5B%5D=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999913'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 08:56:43
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - f9f14832f291959a094e0d3ff85ea5d2
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 08:56:43 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=cincinnati,ohio&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weath[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=Cincinnati,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Lef[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=Cincinnati,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Wea[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=Cincinnati,%20OH&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weat[...]
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location=Cincinnati,%20OH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"326-8z0fkbsLw2QQlbw4bY86DRFpn5Y"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpbmZvIjp7InN0YXR1c2NvZGUiOjAsImNvcHlyaWdodCI6eyJ0ZXh0IjoiwqkgMjAyNCBNYXBRdWVzdCwgSW5jLiIsImltYWdlVXJsIjoiaHR0cDovL2FwaS5tcWNkbi5jb20vcmVzL21xbG9nby5naWYiLCJpbWFnZUFsdFRleHQiOiLCqSAyMDI0IE1hcFF1ZXN0LCBJbmMuIn0sIm1lc3NhZ2VzIjpbXX0sIm9wdGlvbnMiOnsibWF4UmVzdWx0cyI6LTEsImlnbm9yZUxhdExuZ0lucHV0IjpmYWxzZX0sInJlc3VsdHMiOlt7InByb3ZpZGVkTG9jYXRpb24iOnsibG9jYXRpb24iOiJDaW5jaW5uYXRpLCBPSCJ9LCJsb2NhdGlvbnMiOlt7InN0cmVldCI6IiIsImFkbWluQXJlYTYiOiIiLCJhZG1pbkFyZWE2VHlwZSI6Ik5laWdoYm9yaG9vZCIsImFkbWluQXJlYTUiOiJDaW5jaW5uYXRpIiwiYWRtaW5BcmVhNVR5cGUiOiJDaXR5IiwiYWRtaW5BcmVhNCI6IkhhbWlsdG9uIiwiYWRtaW5BcmVhNFR5cGUiOiJDb3VudHkiLCJhZG1pbkFyZWEzIjoiT0giLCJhZG1pbkFyZWEzVHlwZSI6IlN0YXRlIiwiYWRtaW5BcmVhMSI6IlVTIiwiYWRtaW5BcmVhMVR5cGUiOiJDb3VudHJ5IiwicG9zdGFsQ29kZSI6IiIsImdlb2NvZGVRdWFsaXR5Q29kZSI6IkE1WEFYIiwiZ2VvY29kZVF1YWxpdHkiOiJDSVRZIiwiZHJhZ1BvaW50IjpmYWxzZSwic2lkZU9mU3RyZWV0IjoiTiIsImxpbmtJZCI6IjAiLCJ1bmtub3duSW5wdXQiOiIiLCJ0eXBlIjoicyIsImxhdExuZyI6eyJsYXQiOjM5LjEwNzEzLCJsbmciOi04NC41MDQxM30sImRpc3BsYXlMYXRMbmciOnsibGF0IjozOS4xMDcxMywibG5nIjotODQuNTA0MTN9LCJtYXBVcmwiOiIifV19XX0=
  recorded_at: Wed, 24 Apr 2024 18:11:01 GMT
[...]
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location%5B%5D=-84.50413&location%5B%5D=39.10713
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"158-BSI//z022smqzxh3kgbjjXuTkNU"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpbmZvIjp7InN0YXR1c2NvZGUiOjQwMCwiY29weXJpZ2h0Ijp7InRleHQiOiLCqSAyMDI0IE1hcFF1ZXN0LCBJbmMuIiwiaW1hZ2VVcmwiOiJodHRwOi8vYXBpLm1xY2RuLmNvbS9yZXMvbXFsb2dvLmdpZiIsImltYWdlQWx0VGV4dCI6IsKpIDIwMjQgTWFwUXVlc3QsIEluYy4ifSwibWVzc2FnZXMiOlsiSWxsZWdhbCBhcmd1bWVudCBmcm9tIHJlcXVlc3Q6IEluc3VmZmljaWVudCBpbmZvIGZvciBsb2NhdGlvbiJdfSwib3B0aW9ucyI6eyJtYXhSZXN1bHRzIjotMSwiaWdub3JlTGF0TG5nSW5wdXQiOmZhbHNlfSwicmVzdWx0cyI6W3sicHJvdmlkZWRMb2NhdGlvbiI6e30sImxvY2F0aW9ucyI6W119XX0=
  recorded_at: Wed, 24 Apr 2024 21:22:14 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q%5B%5D=-84.50413&q%5B%5D=39.10713
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999673'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 21:29:42
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - 0a0de129453f3d7c38dc4ea80e3cd9d7
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 21:29:42 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q%5B%5D=-84.50413&q%5B%5D=39.10713
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999673'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 21:29:42
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - 2b3a65ccdb92ff175aad0e3f8154e50a
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 21:29:42 GMT
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=39.10713,%20-84.50413
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      [...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q%5B%5D=-84.50413&q%5B%5D=39.10713&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999673'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 21:36:45
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - d3acff95513ffd37a53ab8e1798b46b4
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 21:36:45 GMT
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=39.10713,%20-84.50413&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=39.74001,%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
     [...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=39.74001,%20-104.99202&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      [...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=39.74001,%20-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Q[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=43.3244,%20-84.34534
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&hour=0&key=wapi_key&q=9,%202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qp[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999608'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/24/2024 23:05:08
      Cdn-Edgestorageid:
      - '940'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - ae5b0b020c07498a03a485e741fdbd80
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Wed, 24 Apr 2024 23:05:09 GMT
[...]
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"158-BSI//z022smqzxh3kgbjjXuTkNU"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJpbmZvIjp7InN0YXR1c2NvZGUiOjQwMCwiY29weXJpZ2h0Ijp7InRleHQiOiLCqSAyMDI0IE1hcFF1ZXN0LCBJbmMuIiwiaW1hZ2VVcmwiOiJodHRwOi8vYXBpLm1xY2RuLmNvbS9yZXMvbXFsb2dvLmdpZiIsImltYWdlQWx0VGV4dCI6IsKpIDIwMjQgTWFwUXVlc3QsIEluYy4ifSwibWVzc2FnZXMiOlsiSWxsZWdhbCBhcmd1bWVudCBmcm9tIHJlcXVlc3Q6IEluc3VmZmljaWVudCBpbmZvIGZvciBsb2NhdGlvbiJdfSwib3B0aW9ucyI6eyJtYXhSZXN1bHRzIjotMSwiaWdub3JlTGF0TG5nSW5wdXQiOmZhbHNlfSwicmVzdWx0cyI6W3sicHJvdmlkZWRMb2NhdGlvbiI6e30sImxvY2F0aW9ucyI6W119XX0=
  recorded_at: Thu, 25 Apr 2024 15:57:21 GMT
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=HUm8TeTPbjdZdmNtPgOfHwQmekjwzGrg&location=Denver,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31e-v9RTntepbi8oVfStLeY6My1XCJ8"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
 [...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?key=wapi_key&q=39.74001,%20-104.99202,%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weathera[...]
[...]
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=wapi_key&q=39.74001,%20-104.99202,%20&tp=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
  [...]
