---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/current.json?aqi=false&key=wapi_key&q=cincinnati,ohio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999922'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 06:41:44
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 98902bd76485678707170bf59ef1455c
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cincinnati","region":"Ohio","country":"United
        States of America","lat":39.16,"lon":-84.46,"tz_id":"America/New_York","localtime_epoch":1713940782,"localtime":"2024-04-24
        2:39"},"current":{"last_updated_epoch":1713940200,"last_updated":"2024-04-24
        02:30","temp_c":11.7,"temp_f":53.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":230,"wind_dir":"SW","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":96,"cloud":0,"feelslike_c":10.8,"feelslike_f":51.4,"vis_km":14.0,"vis_miles":8.0,"uv":1.0,"gust_mph":10.8,"gust_kph":17.3}}'
  recorded_at: Wed, 24 Apr 2024 06:42:46 GMT
recorded_with: VCR 6.2.0
